:root {
	/* Primary */
	--bright-blue: hsl(220, 98%, 61%);
	--check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
	/* Neutral */
	--very-light-gray: hsl(0, 0%, 98%);
	--secondary: hsl(235, 19%, 35%);
	/* Transition */
	--transition: 0.3s;
	/* Border Radius */
	--border-radius-md: 5px;
	--border-rounded: 50%;
	/* Fonts */
	--ff-josefin-sans: 'Josefin Sans', sans-serif;
}

html.light:root {
	--body-background: hsl(236, 33%, 92%);
	--body-color: hsl(235, 21%, 11%);

	--background-lighter: hsl(0, 0%, 98%);
	--grayish-blue: hsl(233, 11%, 84%);
}

html.dark:root {
	--body-background: hsl(235, 21%, 11%);
	--body-color: hsl(0, 0%, 98%);

	--background-lighter: hsl(235, 24%, 19%);
	--grayish-blue: hsl(237, 14%, 26%);
}
